<div class="login-container">
  <h2>Forgot your password?</h2>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group">
      <%= f.label :email, 'Email' %>
      <%= f.email_field :email, class: 'form-control'%>
    </div>
    <div class="form-group">
      <%= f.submit 'Send me reset password instructions', class: 'btn btn-primary' %>
    </div>
  <% end %>
  <div class="links">
    <%= link_to 'Remember your password? Log in here!', new_user_session_path, class: 'btn-link' %>
  </div>
</div>
